# ESP32-C3-MINI-1 has 4MB flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# No Bluetooth
CONFIG_BT_ENABLED=n

# Nothing but response packets may appear on UART0 / USB-Serial-JTAG
CONFIG_ESP_CONSOLE_NONE=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
